@model IEnumerable<Dojo.Models.HAS_CERTIFICATE>

@{
    ViewBag.Title = "Issued Certificates";
}

<div class="box box-info">

    <div class="box-header with-border">
        <h2>@ViewBag.Title</h2>
    </div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateObtained)
            </th>
            <th>
                Certificate Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateObtained)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Certificate.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.STUDENT_Fname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.STUDENT_Lname)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Issue_ID }) 
                    
                    
                    
                </td>
            </tr>
        }

    </table>
</div>