
@model PagedList.IPagedList<Dojo.Models.Student>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Students";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h1 class="box-title">@ViewBag.Title</h1>
    </div>
    <div>
        <span>@(ViewBag.Exception != null ? ViewBag.Exception : string.Empty)</span>
    </div>


    @using (Html.BeginForm("Index", "Students", FormMethod.Get))
    {
        <div class="box-body">
            <p>
                <h4>@Html.ActionLink("Create New", "Create")</h4> <br />

                Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
                Find by Parent: @Html.TextBox("ParentString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
                Find by Town: @Html.TextBox("TownString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
            </p>
        </div>
    }
    <table id="example1" class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.ActionLink("Firstname", "Index", new { sortOrder = ViewBag.IdSortParm })
            </th>
            <th>
                @Html.ActionLink("Lastname", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
            <th>
                Town
            </th>
            <th>
                @Html.ActionLink("Active", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Attendance", "Index", new { sortOrder = ViewBag.AttendSortParm })
            </th>
            <th>
                Parent Email
            </th>
            <th>
                @Html.ActionLink("Membership", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Rank", "Index", new { sortOrder = ViewBag.RankSortParm })
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            var attend = item.AttendanceCount ?? "0";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.STUDENT_Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STUDENT_Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => attend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membership.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.STUDENT_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.STUDENT_ID })
            </td>
        </tr>
        }

    </table>
    <br />


    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</div>
