@model Dojo.Models.Product

@{
    ViewBag.Title = "Inventory Details";
}

<div class="box box-info">

    <div class="box-header with-border">
        <h2>@ViewBag.Title</h2>
    </div>

    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CostPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CostPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SellingPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SellingPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QuantityInStock)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuantityInStock)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Product_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>