@model Dojo.Models.Class

@{
    ViewBag.Title = "Class Details";
}

<div class="box box-info">

    <div class="box-header with-border">
        <h2>@ViewBag.Title</h2>
    </div>

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ClaseCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClaseCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Day)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Day)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rank.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rank.Title)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Class_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>