@model IEnumerable<Dojo.Models.Class>

@{
    ViewBag.Title = "View Classes";
}

<div class="box box-info">

    <div class="box-header with-border">
        <h2>@ViewBag.Title</h2>
    </div>

    <p>
        @Html.ActionLink("  Add Class", "Create")
    </p>
    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.ClaseCode)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
               RANK
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            var day = item.Day.ToUpper();
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ClaseCode)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Class_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Class_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Class_ID })
                </td>
            </tr>
        }

    </table>
    </div>